@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: "young-serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: normal;
  line-height: normal;
  word-spacing: normal;
}
h1 {
  color: hsl(24, 5%, 18%);
  font-family: "young-serif";
  font-size: 60px;
}
h2 {
  color: hsl(14, 45%, 36%);
  font-family: "young-serif";
  font-size: 39px;
}
h3 {
  font-family: "outfit";
  font-size: 25px;
  font-weight: 500;
  color: hsl(24, 5%, 18%);
}
h4 {
  font-size: 26px;
  font-family: "outfit";
  font-weight: 400;
  color: hsl(24, 5%, 18%);
}
/* laptop screen  */
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 80%;
  height: 50vh;
  background-image: url(./assets/images/image-omelette.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0 3px 15px 0 rgb(222, 220, 220);
}
.item-name h1 {
  display: flex;
  margin: 40px 130px;
  gap: 1rem;
}
.item-clue {
  width: 80%;
  height: auto;
  margin: 40px 130px;
}
/* .preparation-time */
.preparation-time {
  width: 80%;
  height: 40vh;
  border-radius: 10px;
  margin: 50px 130px;
  background-color: hsl(330, 100%, 98%);
  box-shadow: 0 0px 10px 0 rgb(234, 231, 231);
  padding: 30px 40px;
}
.preparation-time > article > div {
  /* display: flex; */
  margin: 20px 10px;
  font-family: "outfit";
  color: hsl(24, 5%, 18%);
  font-size: 16px;
}
.preparation-time > article > div > li {
  margin: 10px 0;
}
/* ingredients */
.ingredients-container {
  width: 80%;
  height: 60vh;
  margin: 50px 130px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 30px 0px;
  font-family: "young-serif";
}
.ingredients-container > article > div {
  /* display: flex; */
  margin: 20px 50px;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
  font-family: "outfit";
}
.ingredients > li {
  position: relative;
  top: 1.5rem;
  right: 2rem;
}
/* .instruction */
.instruction {
  min-width: 80%;
  height: 90vh;
  margin: 50px 150px;
  padding: 30px 0px;
  font-family: "outfit";
}
.instruction > article > div {
  margin: 25px 60px;
  color: hsl(30, 10%, 34%);
  font-size: 20px;
  /* display: flex; */
}
.list-of-inst > li {
  position: relative;
  right: 3rem;
  top: 1.5rem;
  list-style-type: decimal;
  font-weight: 700;
}
/* nutrition  */
.nutrition {
  min-width: 80%;
  height: 90vh;
  margin: 50px 150px;
  padding: 30px 0px;
  font-family: "outfit";
}
.nutrition > div {
  margin: 25px 0px;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
}
.nutri {
  margin: 20px 30px;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
}
.attribution {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "outfit";
  font-size: 16px;
  font-weight: 400;
  word-spacing: 2px;
}
/* finished  */
